<div class="main-container">
  <div class="sidebar">
    <a routerLink="/home" class="sidebar-button">
      <span class="icon">🏠</span>
      <span class="text">Inicio</span>
    </a>
    <a routerLink="/materiales" routerLinkActive="active" class="sidebar-button">
      <span class="icon">📚</span>
      <span class="text">Materiales</span>
    </a>
    <a routerLink="/evaluaciones" routerLinkActive="active" class="sidebar-button">
      <span class="icon">📝</span>
      <span class="text">Evaluaciones</span>
    </a>
    <a routerLink="/planificaciones" routerLinkActive="active" class="sidebar-button">
      <span class="icon">🗓️</span>
      <span class="text">Planificaciones</span>
    </a>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>